<%= form_tag( '/run' ) do %>
<div class="form-group">

    <input type="text" name="my_url" class="form-control" placeholder="Recipe URL"/>
</div>
<%= submit_tag "Grab Recipe", class:"btn btn-primary" %>
<% end %>
