<div class="col-md-12"> <h1><strong>Grab recipe via URL</strong><h1> </div>
<%= render 'scraper_form' %>
Or manually create recipe <%=link_to "click here", new_recipe_url %><br/>
<%= link_to "Cancel", my_recipes_path, class:"btn btn-default" %>
