Recipes#index
<br>
<% @recipes.each do |recipe| %>
<div class="col-md-4">
    <%= image_tag recipe.image.url(:thumb), class:"recipe-image" %><br>
    <%= link_to recipe.title, recipe, class:"" %>
</div>
<% end %>
