<div class="row">
<% @recipes.each do |recipe| %>
<div class="col-md-6">
<div class="recipe-card">

        <%= image_tag recipe.image.url, class:"recipe-image" %><br>

    <div class="recipe-title">
        <h3><%= link_to recipe.title, recipe, class:"" %></h3>
    </div>
</div>
</div>
<% end %>
</div>
