<div class="recipe-form-manual ">

<div class="col-md-12"> <h1><strong>Manually add recipe</strong><h1> </div>
<%= render 'form' %>
<br>
 <%=link_to "Import a Recipe via URl here", import_recipe_url, class:"link" %>
 <%= link_to "Cancel", my_recipes_path, class:"btn" %><br/>
</div>
