<div class="col-md-12"> <h1><strong>Manually add a new recipe</strong><h1> </div>
<%= render 'form' %>
<br>
Or Import a Recipe via URl <%=link_to "click here", import_recipe_url %><br/>
<%= link_to "Cancel", my_recipes_path, class:"btn btn-default" %><br/>
