<% if user_signed_in? %>

<script type="text/javascript">
    window.location.href="/my_recipes"
  </script>

<% else %>

<div class="row">
    <div class="col-sm-12 entry-word">
        <h2 class="uppercase large"><strong>Recipe<strong></h2>
        <h2 class="uppercase large"> <strong>Bots<strong></h2>
        <h4>A new way to store recipes and generate meal plans. </h4>
        <h4>Simply import your recipes from your favorite sites and plan the  meal. </h4>
        <h4> All with just a simple click.</h4><br />
        <%= link_to "Programed & Deigned by Stephen Dangerfield", "https://www.linkedin.com/in/stephen-dangerfield-a46372128/", target: "_blank", rel: "alternate", class:"stephen-link" %>
    </div>

</div>


 <% end %>
