@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "fullcalendar.min";
@import "daterangepicker";

@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');


.recipe-image{
  height: 200px;
  width: 200px;
}


// Styles just for the pages home
//  body, .homepage {
//   background: url(http://i.imgur.com/lWEo7pD.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   color:white;
//   font-family: 'Overpass Mono', monospace;
//
//     .navbar-default .navbar-nav > li > a {
//         color: white;
//     }
//     .navbar-default .navbar-brand {
//         color: white;
//     }
//     .navbar-default {
//          background-color: transparent;
//         border-color: transparent;
//     }
//
// }

.recipe-card-show{
  background: #eee;
  border-radius: 4px;
  color:black;
}


// Login Form
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1 {
  color: #ccc;
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px;
  font-family: 'Overpass Mono', monospace;
}

.account-form {
  width: 350px;
  padding: 40px 30px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #33140c;
  color: #33140c;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}

.log-btn {
  background: #7a7a7a;
  dispaly: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

// RECIPE CARD



// RECIPE CARD
.recipe-card {
	position: relative;
	background: white;
	max-width: 600px;
	max-height:275px;
	display: flex;
	flex-direction: row;
	box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  margin: 8px;
}
