@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "fullcalendar.min";
@import "daterangepicker";

@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');


.recipe-image{
  height: 200px;
  width: 200px;
}


// Styles just for the pages home
  body{
  background: url(http://i.imgur.com/lWEo7pD.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  font-family: 'Overpass Mono', monospace;

    .navbar-default .navbar-nav > li > a {
        color: white;
    }
    .navbar-default .navbar-brand {
        color: white;
    }
    .navbar-default {
         background-color: transparent;
        border-color: transparent;
    }

}

.homepage {
  background: url(#) no-repeat center center fixed;
background-color: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:black;
  font-family: 'Overpass Mono', monospace;

    .navbar-default .navbar-nav > li > a {
        color: black;
    }
    .navbar-default .navbar-brand {
        color: black;
    }
    .navbar-default {
         background-color: transparent;
        border-color: transparent;
    }

}

h2.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

h2.large {

  padding-top: 0px;
  margin-top: 0px;
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
}

.entry-word{
     position: absolute; left: 10%; top: 35%;
color: white;
}

.recipe-card-show{
  background: #eee;
  border-radius: 4px;
  color:black;
}


// Login Form
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1 {
  color: #ccc;
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px;
  font-family: 'Overpass Mono', monospace;
}

.account-form {
  width: 350px;
  padding: 40px 30px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.recipe-form-manual {
  max-width: 850px;
  padding: 40px 30px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  color: black;
  h1 {
    color: #ccc;
    text-align: center;
    font-size: 40px;
    font-family: 'Overpass Mono', monospace;
  }
}
.recipe-form-import {
  max-width: 850px;
  padding: 40px 30px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
  h1 {
    color: #ccc;
    text-align: center;
    font-size: 40px;
    font-family: 'Overpass Mono', monospace;
  }
}


.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #33140c;
  color: #33140c;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}

.log-btn {
  background: #7a7a7a;
  dispaly: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}
.stephen-link {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.stephen-link:hover {
  text-decoration: underline;
  color: #b2fcd2;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

// RECIPE CARD



// RECIPE CARD
.recipe-card {
	position: relative;
	background: #eee;
	max-width: 600px;
	max-height:275px;
	display: flex;
	flex-direction: row;
	box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  margin: 8px;
}
.cal_body {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}


#external-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 10px 0;
  cursor: pointer;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

.calendar {
  float: right;
  max-width: 900px;
}
